@import java.util.List
@(user: User, courses: List[Course])
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Play Setup Demo</title>
        <link rel="stylesheet" href="register.css"/>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

            <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://unpkg.com/leaflet@@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
        <style>
                .center {
                    text-align: center;
                }

                .cancel-form {
                    text-align: right;
                    padding-top: 0.5rem;
                }
        </style>
    </head>
    <body>

        <header class="topbar">
            <h1 class="focused center" style="font-size: 37px;
                color: #10ACE2">
                <strong>TA Application Form</strong>
            </h1>
        </header>


        <div class="row">
            <div class="card col s4 offset-s4 ">
                <div class="cancel-form">
                    <a href="@routes.HomeController.index()">
                        <i class="material-icons">close</i>
                    </a>
                </div>
                <div class="card-panel">
                    <form action="@routes.HomeController.newApplicationHandler()" method="GET">

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="title" name="title" type="text" class="validate"/>
                                <label for="title">Title</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">

                                <input id="firstname" name="firstname" value=@user.getFirstname readonly="true" class="validate">
                                <label for="firstname">Firstname</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">

                                <input id="lastname" name="lastname" value=@user.getLastname readonly="true" class="validate">
                                <label for="lastname">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">

                                <input id="email" name="email" value=@user.getEmail readonly="true" class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">

                                <input id="phoneNumber" name="phoneNumber" value=@user.getPhoneNumber readonly="true" class="validate">
                                <label for="phoneNumber">Phone Number</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">

                                <input id="degreePlan" name="degreePlan" value=@user.getDegreePlan readonly="true" class="validate">
                                <label for="degreePlan">Degree Plan</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">

                                <input id="beginningSemester" name="beginningSemester" value=@user.getStartSem readonly="true" class="validate">
                                <label for="beginningSemester">Beginning Semester</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">

                                <input id="gradSemester" name="gradSemester" value=@user.getEndSem class="validate">
                                <label for="gradSemester">Expected Graduating Semester</label>
                            </div>
                        </div>
                        <div class="row">
                            <label for="preference1">Top preference</label>
                            <div class="input-field col s12">
                                @for(course <- courses) {
                                    <p>
                                        <label>
                                            <input class="with-gap" name=preference1 type="radio" value=preference1" checked />
                                            <span>@course.getTitle, @course.getName</span>
                                        </label>
                                    </p>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <label for="preference2">Second preference</label>
                            <div class="input-field col s12">
                            @for(course <- courses) {
                                <p>
                                    <label>
                                        <input class="with-gap" name=preference2 type="radio" value="preference2" checked />
                                        <span>@course.getTitle, @course.getName</span>
                                    </label>
                                </p>
                            }
                            </div>
                        </div>
                        <div class="row">
                            <button id="api-search-button" class="btn col s4 offset-s4" type="submit">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
